#section-1 {
  background-color: #cccccc;
  min-height: 600px;
  .profile-pic {
    width: 300px;
    height: 300px;
    // background-image: url("./assets/profile-pic.jpeg");
  }
  .blinking-cursor {
    white-space: pre-line;

    &:after {
      content: '|';
      font-weight: 300;
      font-size: 1.3rem;
      color: aquamarine;
      animation: blink 1s step-start infinite;

      @keyframes blink {
        50% {
          opacity: 0;
        }
      }
    }
  }
}
